<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui/jquery-ui.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui/jquery-ui.structure.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui/jquery-ui.theme.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='fullcalendar/fullcalendar.css') }}" />
<script src="{{ url_for('static',filename='jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='moment/moment.min.js') }}"></script>
  <script src="{{ url_for('static',filename='jquery-ui/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static',filename='moment/moment.min.js') }}"></script>
  <script src="{{url_for('static',filename='fullcalendar/fullcalendar.js')}}"></script>
{% extends "layout2.html" %} {% block body %}


<script type="text/javascript">

	// funcion que se ejecuta cada vez que se selecciona una opción

	function cambioOpciones1()

	{

		document.getElementById('start').value=document.getElementById('start').value+document.getElementById('opciones1').value;


	}



	function cambioOpciones3()

	{

		document.getElementById('end').value=document.getElementById('end').value+document.getElementById('opciones3').value;


	}

	function comprobar(){

    if(document.getElementById('start').value>=document.getElementById('end').value){

      alert("La hora de incio no puede ser mayor a la de final");
      location.reload();
    }

  }

</script>
<div class="container">
  <form name="schedulerForm" id="schedulerForm">
    <br>

      Titulo : <input type="text" name="title" id="title" required>
    <input type="hidden" name="id" id="id">

    Inicio : <input type="text" name="start" id="start" required>
    <select id='opciones1' onchange='cambioOpciones1();'>

						<option value=''>Selecciona una opción</option>

						<option value=' 10:00:00'>10:00:00</option>

						<option value=' 11:00:00'>11:00:00</option>

						<option value=' 12:00:00'>12:00:00</option>

						<option value=' 13:00:00'>13:00:00</option>

						<option value=' 14:00:00'>14:00:00</option>

						<option value=' 15:00:00'>15:00:00</option>

						</select>
    Final : <input type="text" name="end" id="end" required>
    <select id='opciones3' onchange='cambioOpciones3();'>

						<option value=''>Selecciona una opción</option>

						<option value=' 10:00:00'>10:00:00</option>

						<option value=' 11:00:00'>11:00:00</option>

						<option value=' 12:00:00'>12:00:00</option>

						<option value=' 13:00:00'>13:00:00</option>

						<option value=' 14:00:00'>14:00:00</option>

						<option value=' 15:00:00'>15:00:00</option>

						</select>


    <br>
      <br>





    <button class="btn btn-info" onclick="comprobar()" type="button" id="insertBtn">Programar horario</button>
    <button class="btn btn-warning" onclick="comprobar()" type="button" id="updateBtn">Modificar horario</button>
    <button class="btn btn-dark" type="button" id="deleteBtn">Eliminar horario</button>


  </form>
    <br>

    <button class="btn btn-success" onclick="location.href='/login'">Dar de alta usuario</button>
    <button class="btn btn-success" onclick="location.href='/index2'">Editar usuarios</button>
    <button class="btn btn-danger" onclick="location.href='/logout'">Cerrar sesion</button>




<br>
  <div id="calendar"></div>
    </div>

{% endblock %}